*.pyc
*.o
*.a
*.so
*.db
*.out
*-lock
*.swp
*.zip
*.eggs
*.DS_Store
*.
*/__pycache__
.idea/*
build
dist
LemonGraph.egg-info
MANIFEST
graphs
graphs.idx
LemonGraph/data/d3.v3.min.js
LemonGraph/data/d3.v4.min.js
LemonGraph/data/svg-crowbar.js
deps/*
!deps/Makefile
!deps/ext
!deps/*.ext
