*.pyc
*.o
*.so
*.db
*-lock
*.swp
*.zip
*/__pycache__
.idea/*
build
dist
LemonGraph.egg-info
MANIFEST
graphs
graphs.idx
graphs.lock
LemonGraph/data/d3.v3.min.js
LemonGraph/data/d3.v4.min.js
LemonGraph/data/svg-crowbar.js
LemonGraph/data/jsonview.bundle.css
LemonGraph/data/jsonview.bundle.js
deps/*
!deps/Makefile
!deps/ext
!deps/*.ext
